[report]
omit=
   */python?.?/*
   *site-packages/*
   *site-packages/nose/*
   *tests/*
   *asyncio/*
   *concurrent/*
   *ctypes/*
   *multiprocessing/*
   *mimetypes.py
   *html/*
   *decimal.py
   *http/*
   *numbers.py
   *stringprep.py
   *uuid.py
   *encodings/*
   *hmac.py
   *run.py
   *app/models.py
   *app/businesses/__init__.py
   *app/reviews/__init__.py
   *app/users/__init__.py
   *app/__init__.py

[html]
directory = coverage_html